 /* Kotisivu.js-tiedoston css*/
 
 .card {
  width: 18rem;
}

.card2 {
  border: 0;
}

.top-card {
  position: absolute;
  top: 2em;
  left: 7em;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 2em;
  padding-right: 2em;
  opacity: .7;
  color: black;
}

.top-card-maisemajulisteet {
  position: absolute;
  top: 15em;
  left: 30em;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-style: solid;
  border-width: 0.5px;
  padding: 2em 2.5em 2em 2.5em;
  opacity: .7;
  color: black;
}

.inspiroidu {
  margin-top: 5em;
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
}

.tarvikkeet {
  margin-top: 3em;
  text-align: center;
}

.tarvikkeet h5 {
  padding-bottom: 0.5em;
}

@media screen and (max-width: 1400px) {
  .top-card {
    top: 2em;
    left: 5em;
  }
  .top-card-maisemajulisteet {
    top: 12em;
    left: 25em;
  }
}

@media screen and (max-width: 1200px) {
  .top-card-maisemajulisteet {
    top: 10em;
    left: 21em;
  }
}

@media screen and (max-width: 1000px) {
  .top-card-maisemajulisteet {
    top: 2em;
    left: 3em;
    padding: 1em 1.5em 1em 1.5em;
    opacity: .7;
    color: black;
  } 

  .mobiiliversio {
    display: none;
  }

  .inspiroidu {
    padding-left: 3em;
    padding-right: 3em;
}
}

@media screen and (max-width: 500px) {
  .mobiili {
    top: 4em;
  }
}