/* Tilaus.js-tiedoston css*/

.otsikot {
    font-weight: bolder;
    padding-bottom: 2em;
    padding-right: 2em;
}

.tuotenimi,
.tuotehinta {
    padding-right: 3em;
}

.tilaustiedot {
    margin-top: 5em;
}

.tilaustiedot p {
    margin-bottom: 0;
}

.tilaustiedot input {
    margin-bottom: 1em;
    width: 15em;
}

.bi-trash-fill {
    color: black;
}

.empty{
    color: black !important;
}

.tilaa {
    margin-top: 0.5em;
    box-shadow: #cccccc 2px 2px 2px 2px;
    border-radius: 0 !important;
    padding: 0 3px 0 3px!important;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}