.otsikot {
    font-weight: bolder;
    padding-bottom: 2em;
}

.tuotenimi,
.tuotehinta {
    padding-right: 3em;
}

.tilaustiedot {
    margin-top: 3em;
}

.tilaustiedot p {
    margin-bottom: 0;
}

.tilaustiedot input {
    margin-bottom: 1em;
    width: 15em;
}