/* Tuote.js-tiedoston css*/

#tuote img {
    width: 1000px;
    height: auto;
}

#tuote {
    padding-top: 20px;
}

#tuote button {
    margin-top: 2px;
} 

#tuote p {
    color: black;
    
}
#tuote h2 {
    font-size: medium;
}

.card-w-100 {
    border-style: groove;
    border-color: black;
    border-width: medium;
    margin-top: 5px;
    }

.btn-light {
    align-content: left;
}
.hinta {
     margin-right: 15px;
     margin-top: 5px;
     
}