.Collapsible {
    margin-top: 2.5em;
}

.Collapsible__trigger {
    /* background-color: lightgrey; */
    box-shadow: #e6e6ff 7px 7px 7px 0px;
    padding: 1em 1em 1em 1em;
    border-radius: 0.2em;
}

.Collapsible p {
    margin-top: 2em;
}