h3 {
  margin-bottom: 1.5em;
}

.card {
  width: 18rem;
}

.top-card {
  position: absolute;
  top: 25px;
  left: 5em;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 2em;
  padding-right: 2em;
}

.tuotesivulle {
  text-decoration: none;
  color: #000000;
}

.tuotesivulle:hover {
  font-weight: bolder;
  color: #000000;
}

.bi-cart-fill,
.bi-cart-plus-fill {
  font-size: 20px;
}

.yhteystiedot p {
  margin-bottom: 1.5em;
}