@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

.navbar-brand {
  font-family: 'Neucha', cursive;
  font-size: 45px;
  font-weight: bold;
}

