/* Reactin app.css*/
h3 {
  margin-bottom: 1.5em;
}

img {
  max-width: 100% !important;
}

.yhteystiedot p {
  margin-bottom: 1.5em;
}

div .tietoameista,
div .palautukset {
  width: 70%;
  margin-bottom: 3em;
}
